* {
  margin: 0px;
  padding: 0px;
}

html {
  text-align: center;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 300px;
    grid-template-rows: 250px 250px 250px 250px;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contact > * {
    margin: 10px;
  }
}
